#contact {
	@include photo_block("img/contact_photo_block.jpg");
	background: white;

	> .webform {
		@include webform_and_social;

		> form {
			input[name="email"] {
				margin-bottom: 0;
			}
			textarea {
				height: 138px;
				border: 1px solid #B9B9B9;
			}
		}
	}

	.jumbotron{
	padding:20px !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
	background-color:#2E3330;
	}
.container{
	width:100%;
}

.contact-block-1{
	background-color:white;
}

.block-1-content{
margin-top:2%;
padding-left: 0px !important;
padding-right: 0px !important;
}

.content-title{
	font-family: 'Roboto', sans-serif;
color: black;
font-size: 20px;
font-weight: 700;
letter-spacing: 1px;
margin-bottom: 3%;
margin-top: 5%;
}

.content-student, .content-nonprofit, .content-college{
background-color: #757575;
width: 95%;
color: white;
height: 50px;
border-radius: 10px;
padding: 3%;
font-family: 'Roboto', sans-serif;
font-size: 15px;
letter-spacing: 1px;
margin-bottom: 10%;
}

.content-student{
	border-right:7px solid rgb(255, 202, 65);
}

.content-nonprofit{
	border-right:7px solid rgb(63, 255, 63);
}

.content-college{
	border-right:7px solid rgb(42, 219, 253);
}

.block-1-title{
margin-top: 5%;
font-family: $roboto;
font-size: 35px;
letter-spacing: 1px;
color:$new-blue;
}

.block-1-img{
padding-left: 0px !important;
padding-right: 0px !important;
margin-bottom:5%;
	img{
width: 40%;
float: left;
	}
}

.contact-block-2{
	background-color:white;
	padding:50px;
}

.block-2-header{
	text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 35px;
letter-spacing: 1px;
color: $new-blue;
font-weight: 700;
}

.block-2-main{
width: 81%;
height: 580px;
background-size: 980px;
margin: auto;
	background-image: url("../GlobalAppInitiative/img/page-contact/macbook.png");

form{
	margin-top: 6%;

}

input#submit-button{
width: 20%;
margin-left: 45%;
font-family: 'Roboto', sans-serif;
font-size: 16px;
letter-spacing: 1px;
color:$new-blue;
}

input{
	height: 30px;
width: 50%;
border-radius:5px;
}

input#name{
	border:3px solid rgb(255, 202, 65);
}

input#email{
border: 3px solid rgb(63, 255, 63);
}

textarea{
border-radius:5px;
	border:3px solid rgb(42, 219, 253);
}

#email, textarea{
	margin-bottom:4%;
}

.name, .email{
font-family:$roboto;
font-size: 18px;
letter-spacing: 1px;
margin-bottom: 2%;
color:white;
}

.email{
	margin-top:2%;
}

}

}