#sponsors {
	background: white;
	border-top: 1px solid $dark-grey;
	.center {
		min-height: 600px;
		padding: 60px 0 120px 0;

		h1 {
			text-align: center;
		}	

		.col {
			text-align: center;
			.col-1-1 {
    			display:block;
			}
			.col-1-2 {
				float:left; width: 50%; height: 120px;
			}

		}
	}

}